body {
    background-image: url(imagens/fundao.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-color: #010c22;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}


/*classificações*/
.supercomum {
    color:#ffffff;
    text-shadow: #ffffff 1px 1px 10px;
}
.muitocomum {
    color:#bce066;
    text-shadow: #bce066 1px 1px 10px;
}
.comum {
    color:#7af528;
    text-shadow: #7af528 1px 1px 10px;
}
.incomum {
    color: #2c6d00;
    text-shadow: #2c6d00 1px 1px 10px;
}
.raro {
    color: #85a9f1;
    text-shadow: #85a9f1 1px 1px 10px;
}
.muitoraro {
    color: #286df7;
    text-shadow: #286df7 1px 1px 10px;
}
.superraro {
    color: #2002a3;
    text-shadow: #2002a3 1px 1px 10px;
}
.epico {
    color: #6b03b1;
    text-shadow: #6b03b1 1px 1px 10px;
}
.lendario {
    color:#d38a02;
    text-shadow: #d38a02 1px 1px 10px;
}
.mitico {
    color:#fc0202;
    text-shadow: #fc0202 1px 1px 10px;
}
.impossivel {
    color:#e20c65;
    text-shadow: #e20c65 1px 1px 10px;
}
.amarelo {
    color:#ebfc00;
    text-shadow: #ebfc00 1px 1px 10px;
}
.rosa {
    color:#ff00b3;
    text-shadow: #ff00b3 1px 1px 10px;
}
.negra {
    color:#000000;
    text-shadow: #8f8f8f 1px 1px 15px;
}

.direita{
    padding-left: 40px;
}

#cor{
    width: 25px;
    position: relative;
}

.deter {
    top: 50px;
}

.genti {
    top: 105px;
    right: 30px;
}
.bravu {
    top: 160px;
    right: 58px;
}
.inte {
    top: 213px;
    right: 86px;
}
.pac {
    top: 264px;
    right: 115px;
}
.perse {
    top: 319px;
    right: 144px;
}
.jus {
    top: 374px;
    right: 172px;
}
.medo {
    top: 427px;
    right: 200px;
}
.hate {
    top: 484px;
    right: 229px;
}
/* Barra de navegação */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    border-radius: 1%;
    border: #F3143F;
    box-shadow: 0px 2px 13px #F3143F;
    position:fixed;
    width: 1100px;
    z-index: 10;
    
}

li {
    float: left;
    border-right: 1px solid #F3143F;
}

li a {
    display: block;
    background-color: rgba(0,0,0,0.7);
    color: #F3143F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #F3143F;
    color:#dddddd;
    border-right: #0c0c0c;
}

a {
    display: block;
    padding: 8px;
    text-decoration: none;
}
li:last-child {
    border-right: none;
}
.active {
    background-color: #F3143F;
    color:rgb(255, 255, 255)
}

.active:hover {
    background-color: #F3143F;
}

.nava {
    display: block;
    padding: 14px;
    background-color: rgba(0,0,0,0.7);
}
li:last-child {
    border-right: none;
}
.active {
    background-color: #d32323;
    color:rgb(255, 255, 255);
    opacity: 100%;
}

.active:hover {
    background-color: #500202;
}

/* início */

fieldset {
    background-color: none;
    margin-left: 100px;
    margin-right: 100px;
    Color: rgb(190, 190, 190);
    border: none;
    border-radius: 20px;
}

h2 {
    color:#d32323;
    text-align: center;
    font-size: 40px;
}

.field1 {
    background-color: rgba(0,0,0,0.7);
    margin-left: 100px;
    margin-right: 100px;
    Color: rgb(255, 255, 255);
    border: #F3143F solid 1px;
    border-radius: 20px;
    box-shadow: 0px 2px 13px #F3143F;
    position: relative;
}

.imgcodice {
    width: 300px;
    height: 400px;
    border-radius: 20%;
}

.subtitulo {
    text-align: center;
    font-size: 25px;
}

.ss {
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #d32323;
    font-size: 50px;
}

hr {
    border-top: 1px solid #F3143F;
    width: 90%;
    height: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 13px #F3143F;
}


#ele{
    padding-left: 15px;
}

.field {
    background-color: none;
    padding-left: 10px;
}

.fielda {
    text-decoration: none;
    color:rgb(190, 190, 190);
}

.fielda:hover {
    color:#F3143F;
}

.subtitulo {
    text-align: center;
}

.subnav {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 150px;
}

.subnav li {
    position: relative;
    }

    .subnav li a {
        display: block;
        text-decoration: none;
        background-color: rgba(0,0,0,0.7);
     }

    li .subnav {
        position: absolute;
        right: 5px;
        display: none;
        }
        li:hover .subnav { display: block; }

        #searchbar{
    
            padding:15px;
            border-radius: 10px;
          }
        
          input[type=text] {
             width: 30%;
             -webkit-transition: width 0.15s ease-in-out;
             transition: width 0.15s ease-in-out;
          }
        
          input[type=text]:focus {
            width: 70%;
          }
        
         #list{
           font-size:  1.5em;
           margin-left: 90px;
          }
.mec {
    text-align: center;
    font-size: 26px;
    color: rgba(241, 67, 125, 0.89);
    text-shadow: #F3143F;
}
.luna {
    position: relative;
    width: 80px;
    height: 100px;
    left: 260px;
    bottom: 120px;
}
.nomistake {
    position:relative;
    left: 35px;
}

.elementalm{
    position: relative;
    width: 20px;
    height: 25px;
    right: 0px;
    top: 35px;
}
#treselen{
    left:50px
}

/*elementos*/
.ign{
    color: rgb(250, 106, 4);
    text-shadow: rgb(250, 106, 4) 1px 1px 15px;
}
.hyd{
    color: rgb(5, 102, 182);
    text-shadow: rgb(5, 102, 182) 1px 1px 15px;
}
.sag{
    color: rgb(248, 250, 119);
    text-shadow: rgb(248, 250, 119) 1px 1px 15px;
}
.esp{
    color: rgb(74, 238, 216);
    text-shadow: rgb(74, 238, 216) 1px 1px 15px;
}
.ete{
    color: rgb(2, 169, 199);
    text-shadow: rgb(2, 169, 199) 1px 1px 15px;
}
.mor{
    color: rgb(95, 95, 95);
    text-shadow: rgb(95, 95, 95) 1px 1px 15px;
}
.som{
    color: rgb(87, 61, 95);
    text-shadow: rgb(87, 61, 95) 1px 1px 15px;
}
.ele{
    color: rgb(248, 232, 1);
    text-shadow: rgb(248, 232, 1) 1px 1px 15px;
}
.luz{
    color: rgb(235, 230, 160);
    text-shadow: rgb(235, 230, 160) 1px 1px 15px;
}
.psi{
    color: rgb(207, 82, 238);
    text-shadow: rgb(207, 82, 238) 1px 1px 15px;
}
.ven{
    color: rgb(6, 97, 6);
    text-shadow: rgb(6, 97, 6) 1px 1px 15px;
}
.fis{
    color: rgb(145, 55, 3);
    text-shadow: rgb(145, 55, 3) 1px 1px 15px;
}
