.btnLeiaMais85b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais86b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais87b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais88b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais89b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais90b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais91b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais92b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais93b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais94b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais95b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais96b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais97b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais98b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais99b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais100b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais101b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais102b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais103b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais104b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais105b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }  
    .btnLeiaMais106b {
        font-size: 21px;
        position: relative;
        left: 30px;
        background: none;
        color: antiquewhite;
    }
